
:root {
    --reddish: #EA5454;
    --light-blue: #44D3D2;
    --orangey: #FCAE4A;
    --dark-blue: #549EF2;
    --dark-grey: #4D4F62;
}

p, h2 {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}



html, body {
    color: var(--dark-grey);
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 168px;
    margin-top: 5vh;
}

header p {
    width: 540px;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 5px;
    min-width: 350px;
    min-height: 250px;
    max-height: 250px;
    box-shadow: 
    -5px 0px 5px rgba(0, 0, 0, 0.1), /* Left */
    5px 0px 5px rgba(0, 0, 0, 0.1),  /* Right */
    0px 5px 15px rgba(0, 0, 0, 0.1);  /* Bottom */
}

.card img {
    width: 64px;
    justify-self: flex-end;
}

.card-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1110px;
    margin: auto;
    padding: 20px;
}

.card .content {
    flex-grow: 1;
}

.card .image-container {
    display: flex;
    justify-content: flex-end;
}

.card.center {
    align-self: center;
}

#team-builder {
    border-top: 5px solid var(--reddish);
}

#karma {
    border-top: 5px solid var(--orangey);
}

#supervisor, #calculator {
    border-top: 5px solid var(--light-blue);
}

.column {
    display: grid;
    gap: 20px;
}

footer {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin-top: auto;
    line-height: 50px;
}


@media (max-width: 768px) {
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        height: auto; 
    }

    .card {
        max-width: 400px;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
